.services-title {
    font-size: 2.5rem; /* größer */
    font-weight: 700; /* fett */
    text-align: center;
    color: #ffffff; /* dunkler Grauton */
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.services-title::after {
    content: "";
    display: block;
    width: 80%;
    margin: auto;
    border-bottom: 3px solid #000000; /* Vuetify-Primärfarbe */
    border-radius: 2px;
}

.v-list-item--active {
    background: rgba(255,255,255,.08);
    font-weight: 600;
}

.scrollable-content {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 12px;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #ffffff66 transparent; /* zarter Scrollbalken */
}

/* Chrome / Safari */
.scrollable-content::-webkit-scrollbar {
    width: 8px;
}
.scrollable-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}
.scrollable-content::-webkit-scrollbar-track {
    background: transparent;
}